<%- include('../partials/header') %>

<h2>Input New Flight Info Below:</h2>
<form action="/flights" method="POST">
  
  <label>Select Airline:
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select>
  </label><br>
  
  <label>Select Departure Airport:
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option selected = "selected" value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>  
  </label><br>
  
  <label>Input Flight Number:
    <input type="text" name="flightNo">
    <small>*Only 10-9999 are valid</small>
  </label><br>
  
  <label>Departure Date & Time:
    <input type="datetime-local" name="departs" value="<%= departsDate %>" >
  </label><br><br>

  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>
